<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PIN POINT ENGINEERS</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<script src="static/js/jquery-3.4.1.min.js"></script>
	
	<script defer src="static/js/script2.js"></script>
	<script type=module defer src="static/js/mainLayout.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>

<script>

</script>



<my-header></my-header>


<!-- FRAME SECTION START -->
	<div id="frame_container">
		<h5 id = "container_header">Product Table</h5>
		<div id="data_frame">
			<div class="frame">
				<div class="sections">
					<table class="code_tbl table-striped table-bordered">
						<tr>
							<th>Product Name</th>	
							<th>Generic Name</th>
							<th>Form </th>
							<th>API with strength</th>	
							<th>Minimum Batch size</th>
							<th>MRDD </th>
							<th>LD50 </th>
							<th>NOEL  </th>
							
							
						</tr>
						{% for product in product_list %}
						<tr>
							<td><input type="text" name="Product_Name" class="textfield" value="{{product.Product_Name}}" ></td>	
							<td><input type="text" name="Generic_Name" class="textfield" value="{{product.Generic_Name}}" ></td>
							<td><input type="text" name="Form" class="textfield" value="{{product.Form}}" ></td>


							<td><input type="text" name="API_with_strength" class="textfield" value="{{product.API_with_strength}}" ></td>	
							<td><input type="text" name="Minimum_Batch_size" class="textfield" value="{{product.Minimum_Batch_size}}" ></td>
							<td><input type="text" name="MRDD" class="textfield" value="{{product.MRDD}}" ></td>	
							<td><input type="text" name="LD50" class="textfield" value="{{product.LD50}}" ></td>	
							<td><input type="text" name="NOEL" class="textfield" value="{{product.NOEL}}" ></td>							
							<td class="del_row"><img src = "static/images/delete.png" class="del_row_img" onclick="delete_row(this)"></td>
						</tr>
						{% endfor %}
					</table>
					<div class="add_row_button">
					<button id="add_row1" type="button" class="btn btn-sm btn-primary col-sm-2 btn_row" onclick="add_row(this)">Add Row</button>
					</div>
					<hr size="10">
				</div>
			</div>
		</div>
		<hr size="10">
		<div id="action_row">
			<button id="submit_button" type="submit" class="btn btn-sm btn-success col-sm-2" onclick="submit()">Submit</button>
		</div>
	</div>

<my-footer></my-footer>
</body>

</html>